#cont-banner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

}
#sec-profesores {
  text-align: center;
  margin: 2em 0;
  padding: 1.5em .25em;

  .h3 {
    margin: 0 0 .75em;
    font-size: 1em;
  }

  .btn {
    margin-top: 1em;
  }
}
