.container {
    margin: 15vh auto 0;
    padding: 0;
    text-align: center;

    h2 {
        font-size: 1em;
    }

    mat-form-field {
        margin: 0 1em;
        font-size: 0.40em;
    }

    mat-label, input::placeholder {
        color: #000;
    }

    .mat-select-value {
        color: #000;
    }

    button {
        display: block;
        margin: 1em auto;
        background-color: #ffa500;
        color: #000;


        &:disabled {
            background-color: #004a9f;
            color: #aaa;
        }
    }
}
